
<div class="row">
            <div class="col-xl-3 col-lg-6">
                <div class="card card-green card-inverse">
                    <div class="card-header card-green">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-envelope  fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-xs-right">
                                <div class="huge"></div>
                                <div>{{this.menu.SideMenu.0.options.0.title}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer card-green">
                        <a href="javascript:navigateToPage('{{this.menu.SideMenu.0.options.0.page}}');">
                            <span class="pull-xs-left">View Details</span>
                            <span class="pull-xs-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </a>
                    </div>
                </div>
            </div>
          
            <div class="col-xl-3 col-lg-6">
                <div class="card card-green card-inverse">
                    <div class="card-header card-green">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-truck  fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-xs-right">
                                <div class="huge"></div>
                                <div>{{this.menu.SideMenu.0.options.1.title}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer card-green">
                        <a href="javascript:navigateToPage('{{this.menu.SideMenu.0.options.1.page}}');">
                            <span class="pull-xs-left">View Details</span>
                            <span class="pull-xs-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6">
                <div class="card card-yellow card-inverse">
                    <div class="card-header card-yellow">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-suitcase fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-xs-right">
                                <div class="huge"></div>
                                <div>{{this.menu.SideMenu.0.options.2.title}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer card-yellow">
                        <a href="javascript:navigateToPage('{{this.menu.SideMenu.0.options.2.page}}');">
                            <span class="pull-xs-left">View Details</span>
                            <span class="pull-xs-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6">
                <div class="card card-red card-inverse">
                    <div class="card-header card-red">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-ticket fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-xs-right align-bottom">
                                <div class="huge"></div>
                                <div>{{this.menu.SideMenu.0.options.3.title}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer card-red">
                        <a href="javascript:navigateToPage('{{this.menu.SideMenu.0.options.3.page}}');">
                            <span class="pull-xs-left">View Details</span>
                            <span class="pull-xs-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </a>
                    </div>
                </div>
            </div> 
        </div>
        <!-- /.row -->