{{gridPreHook this}}  
{{{compileTemplateByName headerTemplateId headerData}}}
{{#if gridData.data}}
    {{#each gridData.data}}
        <div class="grid-row-default" _id="{{_id}}">
            {{{compileTemplateByName ../rowConfig.template this ../rowConfig}}}
            <div class="grid-row-options-default" _id="{{_id}}"></div>
            {{gridRowPostHook ../this.rowConfig this (compileTemplateByHtml ../rowConfig.rowId this)}}  
        </div>                
    {{/each}}
{{else}}
    No Records Found
{{/if}}
{{gridPostHook this (compileTemplateByHtml this.gridId this)}} 