<div class="grid-container">
    {{#if gridData.data}}
        <div class="row">
            <div class="col-sm-6">
                <div class="pull-left">
                    {{#if drawPager}}
                        <div class="pager-container">
                        </div>
                    {{/if}}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="pull-right">
                    {{#if drawSort}}           
                        <div class="sort-container" style="{{#unless drawFilters}}padding-top:25px;{{/unless}}">
                        </div>                 
                    {{/if}}
                    {{#if drawFilters}}
                         <div class="filters-container grid-header-block">
                         </div>                                                          
                    {{/if}}                             
                </div>
            </div>
        </div>    
        <div class="row grid-more-filters-container">
        </div>          
    {{/if}}
    
    <div id="{{gridId}}" class="grid-data-container">
        {{> griddata}}
    </div>
</div>