<div class="grid-default-filters">
    <div class="input-group" id="{{filtersPanelId}}">
        <input type="search" class="form-control search-control" placeholder="{{placeholder}}">
        <span class="input-group-btn">
            <button class="btn btn-primary search-button" type="button">
                <span class="glyphicon glyphicon-search" aria-hidden="true">
                </span> 
            </button>
        </span>
    </div>
</div>
{{#if moreFilters}}
    <div class="grid-more-filters-button">
        More Filters
    </div>
{{/if}}  