{{gridPreHook this}}  
{{#if gridData.data}}
    {{{compileTemplateByName headerTemplateId headerData}}}
    {{#each gridData.data}}
        <div class="grid-row-default" _id="{{_id}}">
            <div class="grid-row-option-icon">
                <span class="glyphicon glyphicon-tasks"></span>
            </div>
            <div class="grid-row-data">                    
                    {{{compileTemplateByName ../rowConfig.template this ../rowConfig}}}
            </div>            
            {{#if ../rowConfig.detailsTemplate}}
                <div class="grid-row-details-default" _id="{{_id}}">                    
                </div>                              
            {{/if}}                     
            {{#if ../rowConfig.optionsTemplate}}
                <div class="grid-row-options-default" _id="{{_id}}">
                    <!-- <div class="grid-row-options-default-remove-icon">
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                    <div class="grid-row-options-panel">
                    </div> -->
                </div>
            {{/if}} 
            {{gridRowPostHook ../this.rowConfig this (compileTemplateByHtml ../rowConfig.rowId this)}}  
        </div>                
    {{/each}}
{{else}}
    <div class="row grid-row-no-records"><div class="col-sm-12">No Records Found</div></div>
{{/if}}
{{gridPostHook this (compileTemplateByHtml this.gridId this)}} 