<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header card-default">
                <i class="fa fa-bar-chart-o fa-fw"></i> Stats
            </div>
            <div class="card-block">
                
                    {{#ifEquals role "TRIP_ADMIN"}}
                  <li>3 trips are in <a href="javascript:navigateToPage('Running');">Running</a> state currently. <br></li>
                  
                  <li>1 trip is waiting to be <a href="javascript:navigateToPage('Assigned');">Assigned </a></li>
                    {{/ifEquals}}

                <div class="text-xs-right">
                    <a href="javascript:;">View Details <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>