  <ul class="dropdown-menu">
    <li class="dropdown-item">
        <a href="javascript:MENU_HELPER.menuClick('viewProfile');"><i class="fa fa-fw fa-user"></i> Profile</a>
    </li>
  <!--   <li class="dropdown-item">
        <a href="javascript:;"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
    </li> -->
    <li class="dropdown-item">
        <a href="javascript: MENU_HELPER.menuClick('updateProfile');"><i class="fa fa-fw fa-key"></i>Change Password</a>
    </li>
    <li class="divider"></li>
    <li class="dropdown-item">
        <a href="javascript:API_HELPER.logout();"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
    </li>
</ul>