{{{{raw-helper}}}}
{{{{/raw-helper}}}}
{{> header}}
<div class='accept-trip-req'>
    <div class='col-sm-9 accept-trip-content'>
    </div>
</div> 
{{> header}}
<div class='accept-trip-req'>
    <div class='col-sm-9 accept-trip-content'>
    </div>
</div> 
{{{{raw-helper}}}}
<script type="text/javascript">
    console.log("template data acceptTripReq",UTILS.getCurrentTemplateData()),$(document).ready(function(){var e=UTILS.getCurrentTemplateData();FORM_HELPER.draw(".accept-trip-content",e,{schemaOverride:{fields:{}},optionsOverride:{fields:{comment:{type:"textarea"}}},postUrl:"requests/service/addRequest",callbacks:{afterSubmit:function(){MENU_HELPER.menuClick("manageTrip","manageTrip")}}})});
</script>
{{{{/raw-helper}}}}