{{{{raw-helper}}}}
{{{{/raw-helper}}}}
{{{{raw-helper}}}}
{{{{/raw-helper}}}}
{{> header}}
<div class='add-driver'>
    <div class='new-driver-content'>
    </div>
</div> 
{{{{raw-helper}}}}
{{{{/raw-helper}}}}
{{{{raw-helper}}}}
<script type="text/javascript">
    console.log("template data",UTILS.getCurrentTemplateData()),$(document).ready(function(){var e=UTILS.getCurrentTemplateData();FORM_HELPER.draw(".new-driver-content",e,{postUrl:"drivers/service/addDriver",callbacks:{afterSubmit:function(){MENU_HELPER.menuClick("addDriver","addDriver")}}})});
</script>
{{{{/raw-helper}}}}