{{> header}}
<div class='new-trips'>
    <div class='new-trips-content'>
    </div>
</div> 
<script type="text/javascript">
    console.log(UTILS.getCurrentTemplateData()),$(document).ready(function(){var e=UTILS.getCurrentTemplateData();FORM_HELPER.draw(".new-trips-content",e,{bindings:{pickup:"column-1",drop:"column-2",vehicleRequirements:"column-1",comments:"column-2",totalWeight:"column-2"},optionsOverride:{fields:{pickup:{order:1},drop:{order:2},vehicleRequirements:{order:3},comments:{order:4},totalWeight:{order:5}}}})});
</script>