{{{{raw-helper}}}}
{{{{/raw-helper}}}}
{{{{raw-helper}}}}
{{{{/raw-helper}}}}
{{> header}}
<div class='manage-driver'>
    <div class='manage-driver-content'>
    </div>
</div> 
{{{{raw-helper}}}}
{{{{/raw-helper}}}}
{{{{raw-helper}}}}
<script type="text/javascript">
    console.log("template data",UTILS.getCurrentTemplateData()),$(document).ready(function(){var e=UTILS.getCurrentTemplateData();console.log(e),FORM_HELPER.draw(".manage-driver-content",e,{postUrl:"drivers/service/manageDriver",callbacks:{afterSubmit:function(){MENU_HELPER.menuClick("manageDriver","manageDriver")}}})});
</script>
{{{{/raw-helper}}}}