{{{{raw-helper}}}}
{{{{/raw-helper}}}}
{{{{raw-helper}}}}
{{{{/raw-helper}}}}
{{> header}}
<div class='manage-driver'>
    <div class='manage-drivers-content'>
    </div>
</div> 
{{{{raw-helper}}}}
<script id="grid-row-template-details" type="text/x-handlebars-template">
  <div class="container-fluid">
    <div class="row grid-row">
        <div class="col-sm-12 grid-row-container">
			 <div class="panel panel-info">
                            <!-- <div class="panel-heading">
                              <h3 class="panel-title">Employee Details</h3>
                            </div> -->
                            <div class="panel-body">
                              <div class="row">
                                 <div class="col-md-3 col-lg-3 " align="center"> 
                                  <img alt="User Pic" src="/img/default_image.png" class="img-circle img-responsive">
                              </div> 
                                         <div class="col-md-5 col-lg-5 "> 
                                                  <table class="table table-user-information">
                                                    <tbody>
                                                      <tr>
                                                        <td>Full Name:</td>
                                                        <td>{{firstname}} {{lastname}}</td>
                                                       </tr>
                                                      <tr>
                                                        <td>Mobile:</td>                                              
                                                        <td>{{contact.mobile}}</td>
                                                      </tr>
                                                       <tr>
                                                        <td>Email:</td>
                                                        <td>{{contact.email}}</td>
                                                      </tr>
                                                      <tr>
                                                        <td>Address:</td>
                                                        <td>{{address.organisation}} {{address.street}}
                                                        {{address.city}} {{address.state}}</td>
                                                      </tr>
                                                    </tbody>
                                                  </table>
                                        </div>
                               </div>
						</div>
				</div>		
        </div>
    </div>
  </div>
</script>        
<script id="grid-row-options-template" type="text/x-handlebars-template">
  <div class="container-fluid">
    <div class="row grid-row">       
        <div class="col-sm-12">
            <div class="pull-right">
                <button type="button" class="btn btn-default btn-primary edit-driver" _id="{{_id}}">Edit</button>
                <button type="button" class="btn btn-default btn-primary upload-doc-driver" _id="{{_id}}">Upload docs</button>
            </div>
        </div>       
    </div>
  </div>
</script>
{{{{/raw-helper}}}}
{{{{raw-helper}}}}
<script type="text/javascript">
    console.log("template data",UTILS.getCurrentTemplateData()),$(document).ready(function(){var e=UTILS.getCurrentTemplateData();new GRID_HELPER.GRID(".manage-drivers-content",{gridData:e,gridId:"gridManageDrivers",rowConfig:{template:"grid-row-template-details",optionsTemplate:"grid-row-options-template",optionsEvent:"mouseover",optionsPostRender:function(e,t){$(e).find(".edit-driver").click(function(){MENU_HELPER.menuClick("addDriver","manageDriver",{extraHref:t._id})}),$(e).find(".upload-doc-driver").click(function(){MENU_HELPER.menuClick("uploadfiles","manageDriver",{extraHref:t._id})})}}})});
</script>
{{{{/raw-helper}}}}