{{{{raw-helper}}}}
{{{{/raw-helper}}}}
{{> header}}
<div class='assign-driver'>
    <div class='assign-driver-content'>
		  <div class="form-group">
		  <label for="sel1">Select Driver:</label>
		  <select class="form-control" id="driverid">
		  </select>
		</div>
		<button type="button" id="btnsubmit" class="btn btn-default">Submit</button>
    </div>
</div> 
{{{{raw-helper}}}}
<script type="text/javascript">
    console.log("template data",UTILS.getCurrentTemplateData()),$(function(){$("#btnsubmit").click(function(t){t.preventDefault();var e=UTILS.getCurrentTemplateData(),a={},r=$("#driverid").val();a.formData=JSON.stringify({driverid:r}),a.uri="trucks/service/setDriver",a.extraHref="id="+e._id,a.type="POST",API_HELPER.postData(a,function(t,e){return t?void console.log("error",t):void location.reload()})})}),$(document).ready(function(){var t=UTILS.getCurrentTemplateData();for(var e in t.data)$("#driverid").append(new Option(t.data[e].firstname+" "+t.data[e].lastname,t.data[e]._id))});
</script>
{{{{/raw-helper}}}}