{{{{raw-helper}}}}
{{{{/raw-helper}}}}
{{> header}}
<div class='edit-trips'>
    <div class='edit-trips-content'>
    </div>
</div> 
{{{{raw-helper}}}}
<script type="text/javascript">
    console.log("template data",UTILS.getCurrentTemplateData()),$(document).ready(function(){var t=UTILS.getCurrentTemplateData();FORM_HELPER.draw(".edit-trips-content",t,{postUrl:"trips/service/setQuote",callbacks:{afterSubmit:function(){MENU_HELPER.menuClick("manageTrip","manageTrip")}}})});
</script>
{{{{/raw-helper}}}}