{{{{raw-helper}}}}
{{{{/raw-helper}}}}
{{> header}}
<div class='quote-trips'>
    <div class='col-sm-9 quote-trips-content'>
    </div>
</div> 
{{{{raw-helper}}}}
<script type="text/javascript">
    console.log("template data quote",UTILS.getCurrentTemplateData()),$(document).ready(function(){var e=UTILS.getCurrentTemplateData();FORM_HELPER.draw(".quote-trips-content",e,{schemaOverride:{fields:{quotes:{title:"",properties:{quotetype:{title:"Quote Type","default":"Flat"},cost:{dependencies:"quotetype",required:!0},costPerTon:{dependencies:"quotetype",required:!0},loadingPerTon:{dependencies:"quotetype",required:!0},unLoadingPerTon:{dependencies:"quotetype",required:!0}}}}},optionsOverride:{fields:{quotes:{fields:{quotetype:{hideNone:!0},cost:{dependencies:{quotetype:"Flat"}},costPerTon:{dependencies:{quotetype:"Tons"}},loadingPerTon:{dependencies:{quotetype:"Tons"}},unLoadingPerTon:{dependencies:{quotetype:"Tons"}}}}}},postUrl:"trips/service/setQuote",callbacks:{afterSubmit:function(){MENU_HELPER.menuClick("manageTrip","manageTrip")}}})});
</script>
{{{{/raw-helper}}}}