{{{{raw-helper}}}}
{{{{/raw-helper}}}}
{{> header}}
<div class='trip-payment'>
                       <div class="col-sm-10">
                        <div class='trip-payment-content'>
                         </div>
                       </div>
</div> 
{{{{raw-helper}}}}
<script id="cost" type="text/x-handlebars-template">
    <div>
    <p class="h5">Total cost of the trip is <mark>{{data}}</mark> Rs, this 
        can be paid in parts (advance or full).<p>
  Account No:  XXXXXXXXX787,<br>
  Bank Name:   State Bank of India,<br>
  Branch:      Vijayawada.<br>
  IFSC:        SBI004562 <br>
        </div>
</script>
<script id="tripPayment" type="text/x-handlebars-template">
 <div class="container-fluid">
      <div class="row">
       {{#with data}}
        <div class="col-sm-12" >
              <div class="row">
              </div>
            </div>
        </div>
            {{/with}}
    </div>
 </div> 
</script>
{{{{/raw-helper}}}}
{{{{raw-helper}}}}
<script type="text/javascript">
    console.log("trippayment template data",UTILS.getCurrentTemplateData()),$(document).ready(function(){var e=UTILS.getCurrentTemplateData();FORM_HELPER.draw(".trip-payment-content",e,{schemaOverride:{fields:{quotes:{title:"",cost:{}},paymentInfo:{title:"",paymentlog:{maxItems:1,minItems:1,title:"Payment",items:{properties:{}}}}}},optionsOverride:{fields:{paymentInfo:{fields:{paymentlog:{toolbarSticky:!1,items:{fields:{referenceDoc:{type:"file"},modeOfPayment:{hideNone:!0}}}}}}}},callbacks:{preRender:function(e){},beforeSubmit:function(){},afterSubmit:function(){MENU_HELPER.menuClick("manageTrip","manageTrip")},onSubmitError:function(){},postRender:function(){}},postUrl:"trips/service/tripPayment",view:{parent:"bootstrap-edit-horizontal",fields:{"/quotes/cost":{templates:{control:"#cost"}}}}})});
</script>
{{{{/raw-helper}}}}