<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-xs-center">
                    <h2 class="section-heading">How it works</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Step 1</h4>
                                    <h4 class="subheading">Post Load info</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Fill load information like item type, weight,
                                    type of truck needed information</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Step 2</h4>
                                    <h4 class="subheading">Get bids for the job</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Once load info posted,all free trucks and bids and prcing for job are listed and choose best truck suitable for the job</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Step 3</h4>
                                    <h4 class="subheading">Choose the truck</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Choose the truck suitable, mutual aggreement is made and deal is done</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Step 4</h4>
                                    <h4 class="subheading">Track the status</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Status of the job and location of the truck can be tracked</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Congrats!!
                                    <br>Delivered
                                    <br>Done</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>