 <!-- pricing Section -->
    <section id="pricing" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-xs-center">
                    <h2 class="section-heading">Pricing</h2>
                    <h3 class="section-subheading text-muted">These are the best packages available.</h3>
                </div>
            </div>
            <div class="row">
               
                    <div class='pricing-plans wrapper'>
                      <div class='package'>
                        <div class='name'>Limited</div>
                        <div class='price'>€2</div>
                        <div class='trial'>Available for a month</div>
                        <hr>
                        <ul>
                          <li>
                            <strong>8</strong>
                            team members
                          </li>
                          <li>
                            <strong>6</strong>
                            team playlists
                          </li>
                          <li>
                            <strong>Unlimited</strong>
                            public playlists
                          </li>
                        </ul>
                      </div>
                      <div class='package brilliant'>
                        <div class='name'>Brilliant</div>
                        <div class='price'>€5</div>
                        <div class='trial'>Free 30 day trial</div>
                        <hr>
                        <ul>
                          <li>
                            <strong>Unlimited</strong>
                            team members
                          </li>
                          <li>
                            <strong>Unlimited</strong>
                            team playlists
                          </li>
                          <li>
                            <strong>Unlimited</strong>
                            public playlists
                          </li>
                          <li>
                            Team analytics
                          </li>
                        </ul>
                      </div>
                      <div class='package'>
                        <div class='name'>Basic</div>
                        <div class='price'>€0</div>
                        <div class='trial'>Totally free</div>
                        <hr>
                        <ul>
                          <li>
                            <strong>5</strong>
                            team members
                          </li>
                          <li>
                            <strong>3</strong>
                            team playlists
                          </li>
                          <li>
                            <strong>Unlimited</strong>
                            public playlists
                          </li>
                        </ul>
                      </div>
                    </div>
                   

            </div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-xs-center">
                    <p class="large text-muted">Did not find what you looking for ? feel free to contact us we will work this out.</p>
                </div>
            </div>
        </div>
    </section>    