  <!-- Login Section -->
    <section id="auth">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-login">
                     <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6 tabs">
                        <a href="#" class="active" id="login-form-link"><div class="login">LOGIN</div></a>
                        </div>
                        <div class="col-xs-6 tabs">
                        <a href="#" id="register-form-link"><div class="register">REGISTER</div></a>
                        </div>
                    </div>
                    </div>
                    <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                        {{> login}}
                        {{> register}}
                        </div>
                    </div>
                    </div>                   
                </div>
                </div>
            </div>
        </div>
    </section>
